<tts-slider></tts-slider>
<div class="kic-top ">
  <div class="container ">
    <div class="kic ">
      <h3>Popular Categories</h3>

    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
    <img src="images/ki.jpg" class="img-responsive" alt="">
  </a>
      <h6>Dal</h6>
      <p>Nam libero tempore</p>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
    <img src="images/ki1.jpg" class="img-responsive" alt="">
  </a>
      <h6>Snacks</h6>
      <p>Nam libero tempore</p>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
    <img src="images/ki2.jpg" class="img-responsive" alt="">
  </a>
      <h6>Spice</h6>
      <p>Nam libero tempore</p>
    </div>
  </div>
</div>

<!--content-->
<div class="product">
  <div class="container">
    <div class="spec ">
      <h3>Products</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
    <div class=" con-w3l agileinf">
      
      <!-- Products Listed here -->
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>