<tts-slider></tts-slider>
<div class="kic-top ">
  <div class="container ">
    <div class="kic ">
      <h3>Popular Categories</h3>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
				<img src="../../assets/images/ki3.jpg" class="img-responsive" alt="">
			</a>
      <h6>Natural Cream</h6>
      <p>Nam libero tempore</p>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
				<img src="../../assets/images/ki4.jpg" class="img-responsive" alt="">
			</a>
      <h6>Shaving Kit</h6>
      <p>Nam libero tempore</p>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="single.html">
				<img src="../../assets/images/ki5.jpg" class="img-responsive" alt="">
			</a>
      <h6>Makeup Kit</h6>
      <p>Nam libero tempore</p>
    </div>
  </div>
</div>
<div class="product">
  <div class="container">
    <div class="spec ">
      <h3>Products</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
    <div class=" con-w3l agileinf">

      <!-- Products to be listed here -->

      <div class="clearfix"></div>
    </div>
  </div>
</div>