<div class="content-top ">
  <div class="container ">
    <div class="spec ">
      <h3>Special Offers</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
    <div class="tab-head ">
      <nav class="nav-sidebar">
        <ul class="nav tabs ">
          <li class="active"><a href="#tab1" data-toggle="tab">Staples</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Snacks</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">Fruits & Vegetables</a></li>
          <li class=""><a href="#tab4" data-toggle="tab">Breakfast & Cereal</a></li>
        </ul>
      </nav>
      <div class=" tab-content tab-content-t ">
        <div class="tab-pane active text-style" id="tab1">
          <div class=" con-w3l">
            
            <!-- Tab1 Products -->

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="tab-pane text-style" id="tab2">
          <div class=" con-w3l">
            
            <!-- Tab 2 Products -->

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="tab-pane text-style" id="tab3">
          <div class=" con-w3l">
            
            <!-- Tab 3 Products -->

            <div class="clearfix"></div>
          </div>
        </div>
        <div class="tab-pane text-style" id="tab4">
          <div class=" con-w3l">
            
            <!-- Tab 4 Products -->

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--content-->
<div class="content-mid">
  <div class="container">

    <!-- Products to be listed here -->

    <div class="clearfix"></div>
  </div>
</div>
<!--content-->

<tts-slider></tts-slider>

<!--content-->
<div class="product">
  <div class="container">
    <div class="spec ">
      <h3>Special Offers</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
    <div class=" con-w3l">
      
      <!-- Products to be listed here -->

      <div class="clearfix"></div>
    </div>
  </div>
</div>