<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <a [routerLink]="['/kitchen']"><img class="first-slide" src="../../assets/images/ba.jpg" alt="First slide"></a>
    </div>
    <div class="item">
      <a [routerLink]="['/hold']"><img class="second-slide " src="../../assets/images/ba1.jpg" alt="Second slide"></a>
    </div>
    <div class="item">
      <a [routerLink]="['/care']"><img class="third-slide " src="../../assets/images/ba2.jpg" alt="Third slide"></a>
    </div>
  </div>
</div>